.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#sortingHat{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title, .card-text{
    text-align: center;
}

.card-title{
    margin-top: 20px;
}

#sortMenuBtn{
    margin-bottom: 30px;
}

.divider{
    margin:20px
}
.half-box{
    width: 50%;
    border: 3px dotted red
}

#allWizards{
    display: flex;
}

#studentArea, #darkWizards{
    width: 50%;
}
